.bigupForms__form {
	gap: var( --bigupForms_gap );
	display: flex;
    position: relative; // Parent to popup messages.
	flex-flow: column;
	align-items: stretch;
	margin: 0 auto;
	width: clamp(10em, 100%, 34em);
	max-width: 100%;
	text-align: inherit;
	font: inherit;

	// Hide the anti-bot honeypot.
	.saveTheBees {
		display: none;
	}

	.bigupForms__message {
		margin: 1em 0 1.688em 0;
	}

	.bigupForms__blockContainer {
		gap: inherit;
		display: flex;
		flex-flow: column;
		transition: opacity 150ms ease-in-out;
		width: 100%;

		.bigupForms__blockWrap {
			width: 100%;
		}
	}

	.bigupForms__input[aria-invalid="true"] {
		outline: solid 0.2em var(--bigupForms_red);
	}

	.bigupForms__inlineErrors {
		display: flex;
		flex-flow: column;
		margin: 0;
		border-radius: 0;
		background:var(--bigupForms_red);
		padding: 0;
		color:#fff;
		font-weight: 600;
		font-variation-settings: "wght" 600;
		height: 0 !important;

		&.hasErrors {
			margin: 0 2em;
			border-radius: 0 0 0.6em 0.6em;
			padding: 0.2em 0.7em;
			height: fit-content !important;
		}

		.regexRejectHighlight {
			padding-inline:0.2em;
			background:var(--bigupForms_yellow);
			color:var(--bigupForms_black);
		}
	}

	.bigupForms__controls {
		gap: var(--bigupForms_gap);
		display: flex;
		flex-flow: row wrap;
		padding-top: var( --bigupForms_gap );

		.bigupForms__buttonWrap {
			display: inline-block;
		}
	}

	.bigupForms__submitLabel-notReady { display: none;}
	.bigupForms__submitLabel-ready { display: inline;}

	button:disabled {
		.bigupForms__submitLabel-notReady { display: inline;}
		.bigupForms__submitLabel-ready { display: none;}
	}

	&.bigupForms__form-locked {

		& * {
			cursor: default;
			pointer-events: none !important;
		}

		& .bigupForms__blockContainer {
			opacity: 0.5;
		}
	}
}
