.bigupForms__form {

	// Typing inputs.
	input[type=email],
	input[type=number],
	input[type=password],
	input[type=search],
	input[type=tel],
	input[type=text],
	input[type=url],
	input[type=week],
	textarea {
		overflow: visible;
		line-height: inherit;
		font-family: inherit;
		font-size: inherit;

		&:hover {
			cursor: text;

			&:disabled,
			&.disabled {
				cursor: not-allowed;
			}
		}
	}
	
	// Selectable inputs.
	input[type=color],
	input[type=date],
	input[type=datetime-local],
	input[type=datetime],
	input[type=month],
	input[type=time],
	input[type=week],
	select,
	optgroup {
		line-height: inherit;
		font-family: inherit;
		font-size: inherit;

		&:hover {
			cursor: pointer;

			&:disabled,
			&.disabled {
				cursor: not-allowed;
			}
		}
	}

	// Remove the gap below textareas.
	textarea {
		vertical-align: top;
	}

	input[type=submit],
	button {
		font-size: inherit;

		&:hover {
			cursor: pointer;

			&:disabled,
			&.disabled {
				cursor: not-allowed;
			}
		}
	}

	::placeholder,
	::-webkit-input-placeholder {
		opacity: 1 !important;
		color: var(--bigupForms_placeholderColour) !important;
	}
}
