/**
 * Styles applied in editor and frontend.
 *
 * Webpack processes CSS, SASS or SCSS files referenced in JavaScript files.
 * All filenames containing `style` keyword are bundled together. The code used
 * gets applied to both the frontend and the editor.
 *
 * @see https://www.npmjs.com/package/@wordpress/scripts#using-css
 */

 /* Wrap in form class to increase specificity */
.bigupForms__form {

	.bigupForms__select {
		display: block;
		position: relative;
		transition: 0.2s;
		margin: var(--bigup_gutter) auto var(--bigup_gutter) 0;
		outline: none;
		border: var( --bigup_border );
		border-radius: var(--bigup_radius);
		box-shadow: var(--bigup_shadow-inset);
		background: var(--bigup_inputWrapBackground);
		padding: var(--bigup_padding);
		width: 100%;
		min-width: 8em;
		max-width: 100%;
		min-height: fit-content;
		line-height: normal;
		color: var( --bigup_inputColor );
		font-size: inherit;

		&:not(.bigupForms__form-locked *):hover {
			cursor: pointer;
		}

		&DefaultText {
			color: var( --bigup_placeholderColour );
		}
	}
}
