.bigupForms__form-locked * {
	cursor: default;
	pointer-events: none !important;
}

.bigupForms__smtpTest_wrapper {
	--bigupForms_white: #fff;
    --bigupForms_black: #262626;
    --bigupForms_orange: #ffb908;
    --bigupForms_green: #63CFA7;
	--bigupForms_red: #fd6a42;
	--bigupForms_blue: #70d3e5;
    --bigupForms_lightGrey: #eee;
    --bigupForms_border: solid 1px;
	--bigupForms_padding: 0.5em 0.75em;
	--bigupForms_gutter: 0.5em;
    position: relative;

	.bigupForms__submitLabel-notReady { display: none;}
	.bigupForms__submitLabel-ready { display: inline;}

	.bigupForms__smtpTest_button:disabled {
		.bigupForms__submitLabel-notReady { display: inline;}
		.bigupForms__submitLabel-ready { display: none;}
	}
}
