tr:has(#oauthToggle:not(:checked)) {
	~ tr:has(.hideWhenOauthDisabled) {
		display: none;
	}

	~ tr:has(.hideWhenOauthEnabled) {
		display: table-row;
	}
}

tr:has(#oauthToggle:checked) {
	~ tr:has(.hideWhenOauthDisabled) {
		display: table-row;
	}

	~ tr:has(.hideWhenOauthEnabled) {
		display: none;
	}
}

.msConnectWrapper {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin: 0.5em 0;

	button#connectMicrosoftAccount {
		display: block;
		margin-right: 1em;
	}
}
