.adminPage {
	--formElementBorder: solid #0004 1px;
	gap: 2em;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	margin: 2em auto 0;
	padding: 0 20px 0 2px;
	width: 50rem;
	max-width: 100%;
	font-size: 15px !important;

	@media screen and (max-width: 782px) {
		padding-right: 10px;
	}

	.adminHeader,
	.adminBody {
		border-radius: 1em;
		box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
		background: #fff;
		padding: 2em 4em;
	}

	table:not(:last-child) {
		margin-bottom: 4em;
		border-bottom: var(--formElementBorder);
	}

	p,
	input,
	textarea,
	.form-table,
	.form-table td,
	.form-table td p,
	.form-table th,
	button:is(.button, .button-primary, .button-secondary),
	input[type='submit']:is(.button, .button-primary, .button-secondary) {
		font-size: inherit;
	}

	input:is(.regular-text) {
		width: 100%;
	}

	input[id^='bigup_forms_settings'] {
		border: var(--formElementBorder);
		border-radius: 0.35em;
	}

	.adminInstructionsList {
		margin: 2em 1em 3em;
		padding-left: 1.5em;
		list-style: '👉';

		li {
			padding-left: 1em;

			&:not(:last-child) {
				margin-bottom: 1em;
			}

			&::marker {
				display: inline-block;
			}
		}
	}

	.adminButtonRow {
		gap: 1em;
		display: flex;
		flex-flow: row wrap;
		align-items: flex-start;
		margin: 2em 0;

		& > * {
			margin: 0;
			padding: 0;
		}
	}

	.setupInstructions {
		background: #fff;
		padding: 15px;
		border: 1px solid #ccd0d4;
		margin-bottom: 20px;
	}
}
