/* Wrap in form class to increase specificity */
.bigupForms__form {

	.bigupForms__inputWrap {
		position: relative;
		transition: 0.2s;
		margin: var(--bigup_gutter) auto var(--bigup_gutter) 0;
		border: var( --bigup_border );
		border-radius: var(--bigup_radius);
		box-shadow: var(--bigup_shadow-inset);
		background: var(--bigup_inputWrapBackground);
		width: 100%;
		min-width: 8em;
		min-height: fit-content;
		overflow: hidden;
		resize: none;

		&-short {
			max-width: 22em;
		}
	}

	.bigupForms__input {
		margin-block-end: 0;
		margin-block-start: 0;
		display: block;
		margin: 0;
		outline: none;
		border: none;
		background: #0000;
		padding: var(--bigup_padding);
		width: 100%;
		height: 100%;
		resize: vertical;
		color: var( --bigup_inputColor );

		&:not(.bigupForms__form-locked *):hover {
			cursor: text;
		}

		&:focus {
			outline: none;
			border: none;
			box-shadow: none;
		}
	}

	.bigupForms__flag {
		display: flex;
		position: absolute;
		top: -1.5em;
		right: 0;
		align-items: center;
		justify-content: center;
		transition: top 0.15s;
		border-radius: 0 0 0 1em;
		box-shadow: var(--bigup_flagShadow);
		width: 1.5em;
		height: 1.5em;

		&-hover { background: var(--bigup_orange); }
		&-focus { background: var(--bigup_green); }
	}

	.bigupForms__inputWrap:not(.bigupForms__form-locked *) {
		&:hover .bigupForms__flag-hover,
		&:focus-within .bigupForms__flag-focus {
			top: 0;
		}
	}
}