/* Base styles for all themes */
.bigup__form.is-style-inset-dark,
.bigup__form.is-style-inset-light,
.bigup__form.is-style-vanilla  {

	margin: 0 auto;
	width: clamp(10em, 100%, 34em);
	text-align: inherit;
	font: inherit;

	.bigup__form_section {
		width: 100%;
		transition: opacity 150ms ease-in-out;
	}

	&.bigup__form-locked .bigup__form_section {
		opacity: 0.5;
	}

	.bigup__form_message {
		margin: 1em 0 1.688em 0;
	}

	.bigup__form_inputWrap {
		position: relative;
		transition: 0.2s;
		margin: var(--bigup_gutter) auto var(--bigup_gutter) 0;
		border: var( --bigup_border );
		border-radius: var(--bigup_radius);
		box-shadow: var(--bigup_shadow-inset);
		background: var(--bigup_inputWrapBackground);
		width: 100%;
		min-width: 8em;
		min-height: fit-content;
		overflow: hidden;
		resize: none;

		&-short {
			max-width: 22em;
		}
	}

	.bigup__form_input {
		margin-block-end: 0;
		margin-block-start: 0;
		display: block;
		margin: 0;
		outline: none;
		border: none;
		background: #0000;
		padding: var(--bigup_padding);
		width: 100%;
		height: 100%;
		resize: vertical;
		color: var( --bigup_inputColor );

		&:not(.bigup__form-locked *):hover {
			cursor: text;
		}

		&:focus {
			outline: none;
			border: none;
			box-shadow: none;
		}
	}

	.bigup__form_flag {
		display: flex;
		position: absolute;
		top: -1.5em;
		right: 0;
		align-items: center;
		justify-content: center;
		transition: top 0.15s;
		border-radius: 0 0 0 1em;
		box-shadow: var(--bigup_flagShadow);
		width: 1.5em;
		height: 1.5em;

		&-hover { background: var(--bigup_orange); }
		&-focus { background: var(--bigup_green); }
	}

	.bigup__form_inputWrap:not(.bigup__form-locked *) {
		&:hover .bigup__form_flag-hover,
		&:focus-within .bigup__form_flag-focus {
			top: 0;
		}
	}
}
