@use '../abstracts';

:not( .is-style-none ).bigupForms__form {

	.bigupForms__selectWrap {
		@extend %hover-focus;

		position: relative;
		margin: var(--bigupForms_controlsMargin);
		border: var( --bigupForms_border );
		border-radius: var(--bigupForms_radius);
		box-shadow: none;
		background: var(--bigupForms_inputBackground);
		width: 100%;
		min-width: 8em;
		min-height: fit-content;
		overflow: hidden;
		resize: none;
		text-align: inherit;

		/* Custom :before/:after icon cannot be set on <select> elements, so set on wrapper */
		&:before,
		&:after {
			--size: 0.32em;
			position: absolute;
			content: "";
			right: 1rem;
			pointer-events: none;
		}

		&:before {
			border-left: var(--size) solid transparent;
			border-right: var(--size) solid transparent;
			border-bottom: var(--size) solid currentColor;
			top: 33%;
		}

		&:after {
			border-left: var(--size) solid transparent;
			border-right: var(--size) solid transparent;
			border-top: var(--size) solid currentColor;
			top: 53%;
		}
	}

	.bigupForms__select {
		-moz-appearance: none;
		-webkit-appearance: none;
		appearence: none;
		margin-block-end: 0;
		margin-block-start: 0;
		display: block;
		margin: 0;
		outline: none;
		border: none;
		background: #0000;
		padding: var(--bigupForms_paddingX) var(--bigupForms_paddingY);
		width: 100%;
		height: 100%;
		resize: vertical;
		text-align: inherit;
		line-height: normal;
		color: var( --bigupForms_inputColor );
		font-size: inherit;

		&DefaultText,
		&:invalid:not( :active ) {
			color: var( --bigupForms_placeholderColour );
		}
	}
}
