@use '../abstracts';

:not( .is-style-none ).bigupForms__form {

	.bigupForms__input {
		@extend %hover-focus;

		position: relative;
		margin: var(--bigupForms_controlsMargin);
		outline: none;
		border: var( --bigupForms_border );
		border-radius: var(--bigupForms_radius);
		box-shadow: var(--bigupForms_shadow-inset);
		background: var(--bigupForms_inputBackground);
		padding: var(--bigupForms_paddingX) var(--bigupForms_paddingY);
		width: 100%;
		min-width: 8em;
		min-height: fit-content;
		overflow: visible;
		text-align: inherit;
		color: var( --bigupForms_inputColor );

		&textarea {
			resize: vertical;
		}
	}
}
