.bigup__alert_output {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
	transition: opacity 150ms ease-in-out;

	.bigup__alert {
		margin-block-end: 1.688em;
		border: var(--bigup_border);
		border-radius: var(--bigup_radius);
		box-shadow: 1px 3px 6px 1px #0008;
		background: var(--bigup_lightGrey);
		padding: var(--bigup_padding);
		text-align: center;
		color: var(--bigup_textBlack);
		font-weight: 700;

		&::before {
			margin-inline-end:.5em;
			content: "\24D8";
		}

		&-danger {
			background:var(--bigup_red);
			color:#fff;
		}

		&-success {
			background:var(--bigup_green);
			color:#fff;
		}

		&-info {
			background:var(--bigup_blue);
			color:#fff;
		}

		&-warning {
			background:var(--bigup_orange);
			color:#fff;
		}

		&:last-child {
			margin-block-end: 0;
		}
	}
}