.bigup__form {

    --fallback_white: #fff;
    --fallback_black: #262626;
    --fallback_orange: #ffb908;
    --fallback_green: #63CFA7;
	--fallback_red: #fd6a42;
	--fallback_blue: #70d3e5;
    --fallback_lightGrey: #eee;
	--bigup_border: solid 0.2em var(--wp--preset--color--white, var(--fallback_lightGrey) );
	--bigup_gutter: 0.5em;
	--bigup_padding: 0.5em 0.75em;
	--bigup_radius: 0.6em;
    --bigup_shadow-inset: inset -0.1em 0.2em 0.5em 0.2em #000c;

    position: relative;
	max-width: 100%;

	// Hide the anti-bot honeypot.
	.saveTheBees {
		display: none;
	}

	&.bigup__form-locked * {
		cursor: default;
		pointer-events: none !important;
	}

	.bigup__form_submitLabel-notReady { display: none;}
	.bigup__form_submitLabel-ready { display: inline;}

	button:disabled {
		.bigup__form_submitLabel-notReady { display: inline;}
		.bigup__form_submitLabel-ready { display: none;}
	}
}

/* Widget overrides */
:where( .widget ) {

	.bigup__form_message {
		margin: 1em 0;
		font-size: 0.8em;
	}

	.bigup__form_inputWrap {
		margin: var(--bigup_gutter) auto 0 0;
		width: 100%;
	}
}
