.bigup__form.is-style-inset-dark {

	--bigup_border: none;
	--bigup_gutter: 0.5em;
	--bigup_inputColor: var( --bigup_white );
	--bigup_inputWrapBackground: var( --bigup_black );
	--bigup_padding: 0.5em 0.75em;
	--bigup_radius: 0.6em;
	--bigup_shadow-inset: inset 0 1px 1px 0px #000a,
                          inset 0 2px 2px 0px #000a,
                          inset 0 3px 5px 0px #000a,
                          inset 0 4px 6px 0px #000a,
                          inset 0 5px 8px 0px #000a;

	--bigup_flagShadow: inset -4px 8px 7px -2px #000d;

}
