.bigup__form.is-style-light  {

	margin: 0 auto;
	width: clamp(10em, 100%, 34em);
	text-align: inherit;
	font: inherit;

	.bigup__form_section {
		margin: 0;
		border: none;
		padding: 0;
		width: 100%;
		transition: opacity 150ms ease-in-out;
	}

	&.bigup__form-locked .bigup__form_section {
		opacity: 0.5;
	}

	.bigup__form_message {
		margin: 1em 0 1.688em 0;
	}

	.bigup__form_inputWrap {
		position: relative;
		transition: 0.2s;
		margin: var(--bigup_gutter) auto var(--bigup_gutter) 0;
		border: var( --bigup_border );
		border-radius: var(--bigup_radius);
		box-shadow: var(--bigup_shadow-inset);
		background: var(--wp--preset--color--white, var(--fallback_white) );
		width: 100%;
		min-width: 8em;
		min-height: fit-content;
		overflow: hidden;
		resize: none;

		&-short {
			max-width: 22em;
		}
	}

	.bigup__form_input {
		display: block;
		outline: none;
		border: none;
		background: #0000;
		padding: var(--bigup_padding);
		width: 100%;
		height: 100%;
		resize: vertical;
		color: inherit;

		&:not(.bigup__form-locked *):hover {
			cursor: text;
		}
	}

	.bigup__form_submit {
		margin-top: calc( 4 * var(--bigup_gutter) );
	}

	.bigup__form_flag {
		display: flex;
		position: absolute;
		top: -1.5em;
		right: 0;
		align-items: center;
		justify-content: center;
		transition: top 0.15s;
		border-radius: 0 0 0 1em;
		box-shadow: inset -0.3em 0.4em 0.5em 0 #000c;
		width: 1.5em;
		height: 1.5em;

		&-hover {
			background: var(--wp--preset--color--luminous-vivid-amber, var(--fallback_orange) );
		}

		&-focus {
			background: var(--wp--preset--color--vivid-green-cyan, var(--fallback_green) );
		}
	}

	.bigup__form_inputWrap:not(.bigup__form-locked *) {
		&:hover .bigup__form_flag-hover,
		&:focus-within .bigup__form_flag-focus {
			top: 0;
		}
	}
}
