.bigup__form.is-style-vanilla {

	--bigup_border: solid 1px;
	--bigup_gutter: 0.5em;
	--bigup_inputColor: inherit;
	--bigup_inputWrapBackground: #0000;
	--bigup_padding: 0.5em 0.75em;
	--bigup_radius: 0;
    --bigup_shadow-inset: none;
	--bigup_flagShadow: none;

	/* Float the flag with some padding */

	.bigup__form_flag {
		right: 0.2em;
		border-radius: 0 0 0 2em;
	}

	.bigup__form_inputWrap:not(.bigup__form-locked *) {

		&:hover .bigup__form_flag-hover,
		&:focus-within .bigup__form_flag-focus {
			top: 0.2em;
		}
	}
}
