.bigupForms__form.is-style-inset-dark,
.bigupForms__form.is-style-inset-light,
.bigupForms__form.is-style-vanilla  {

	margin: 0 auto;
	width: clamp(10em, 100%, 34em);
	text-align: inherit;
	font: inherit;

	.bigupForms__section {
		width: 100%;
		transition: opacity 150ms ease-in-out;
	}

	&.bigupForms__form-locked .bigupForms__section {
		opacity: 0.5;
	}

	.bigupForms__message {
		margin: 1em 0 1.688em 0;
	}
}

.bigupForms__form.is-style-vanilla {
	--bigupForms_border: solid 1px;
	--bigupForms_gutter: 0.5em;
	--bigupForms_inputColor: inherit;
	--bigupForms_inputWrapBackground: #0000;
	--bigupForms_padding: 0.5em 0.75em;
	--bigupForms_radius: 0;
    --bigupForms_shadow-inset: none;
	--bigupForms_flagShadow: none;

	/* Float the flag with some padding */
	.bigupForms__flag {
		right: 0.2em;
		border-radius: 0 0 0 2em;
	}

	.bigupForms__inputWrap:not(.bigupForms__form-locked *) {
		&:hover .bigupForms__flag-hover,
		&:focus-within .bigupForms__flag-focus {
			top: 0.2em;
		}
	}
}

.bigupForms__form.is-style-inset-dark {
	--bigupForms_border: none;
	--bigupForms_gutter: 0.5em;
	--bigupForms_inputColor: var( --bigupForms_white );
	--bigupForms_inputWrapBackground: var( --bigupForms_black );
	--bigupForms_padding: 0.5em 0.75em;
	--bigupForms_radius: 0.6em;
	--bigupForms_shadow-inset: inset 0 1px 1px 0px #000a,
                          inset 0 2px 2px 0px #000a,
                          inset 0 3px 5px 0px #000a,
                          inset 0 4px 6px 0px #000a,
                          inset 0 5px 8px 0px #000a;
	--bigupForms_flagShadow: inset -4px 8px 7px -2px #000d;
	--bigupForms_placeholderColour: #fff8;
}

.bigupForms__form.is-style-inset-light  {
	--bigupForms_border: none;
	--bigupForms_gutter: 0.5em;
	--bigupForms_inputColor: var( --bigupForms_black );
	--bigupForms_inputWrapBackground: var( --bigupForms_white );
	--bigupForms_padding: 0.5em 0.75em;
	--bigupForms_radius: 0.6em;
	--bigupForms_shadow-inset: inset 0 0px 1px 1px #0003,
	                      inset 0 2px 2px 1px #0003,
	                      inset 0 4px 4px 1px #0003,
                          inset 0 6px 6px 1px #0003,
                          inset 0 8px 8px 1px #0003;
	--bigupForms_flagShadow: inset -4px 8px 7px -2px #000a;
}