@import './form-themes';
@import '../../css/common/alert-popup';

/**
 * Styles applied in editor and frontend.
 *
 * Webpack processes CSS, SASS or SCSS files referenced in JavaScript files.
 * All filenames containing `style` keyword are bundled together. The code used
 * gets applied to both the frontend and the editor.
 *
 * @see https://www.npmjs.com/package/@wordpress/scripts#using-css
 */

/* Keep specificity 0 */
:where( .bigupForms__form ) {

    --bigupForms_white: var( --wp--preset--color--white, #fff );
    --bigupForms_black: var( --wp--preset--color--black, #000 );
    --bigupForms_orange: #e7a808;
    --bigupForms_green: #38a87f;
	--bigupForms_red: #da5530;
	--bigupForms_blue: #2bb2ca;
    --bigupForms_lightGrey: #eee;
	--bigupForms_placeholderColour: #0005;
	--bigupForms_blockGap: 1em;
	--bigupForms_controlsMargin: margin: 0 auto var(--bigupForms_gutter) 0;

	gap: var(--bigupForms_blockGap);
	box-sizing: border-box;
	display: flex;
    position: relative;
	flex-flow: column;
	max-width: 100%;

	input {
		overflow: visible;
	}
	
	input,
	optgroup,
	select,
	textarea {
		line-height: inherit;
		font-family: inherit;
		font-size: inherit;
	}
	
	input:hover:not(:disabled):not(.disabled),
	optgroup:hover:not(:disabled):not(.disabled),
	select:hover:not(:disabled):not(.disabled),
	textarea:hover:not(:disabled):not(.disabled) {
		cursor: pointer;
	}

	::placeholder,
	::-webkit-input-placeholder {
		opacity: 1 !important;
		color: var(--bigupForms_placeholderColour) !important;
	}

	.bigupForms__section {
		gap: inherit;
		display: inherit;
		flex-flow: inherit;
	}

	// Hide the anti-bot honeypot.
	.saveTheBees {
		display: none;
	}

	// Remove the gap below textareas.
	textarea {
		vertical-align: top;
	}

	.bigupForms__inlineErrors {
		display: flex;
		flex-flow: column;
		margin: 0 2em;
		border-radius: 0 0 0.6em 0.6em;
		background:var(--bigupForms_red);
		padding: 0.4em 0.7em;
		color:#fff;
		font-weight: 600;
		font-variation-settings: "wght" 600;
	}

	.bigupForms__controls {

		.bigupForms__buttonWrap {

			display: inline-block;

			&:not( :last-child ) {
				margin-inline-end: var(--bigupForms_blockGap);
			}

			button:is( [ type="submit" ] ),
			button {
				font-size: inherit;
			}
		}
	}

	&.bigupForms__form-locked * {
		cursor: default;
		pointer-events: none !important;
	}

	.bigupForms__submitLabel-notReady { display: none;}
	.bigupForms__submitLabel-ready { display: inline;}

	button:disabled {
		.bigupForms__submitLabel-notReady { display: inline;}
		.bigupForms__submitLabel-ready { display: none;}
	}
}
