.bigupForms__form-locked * {
	cursor: default;
	pointer-events: none !important;
}


.bigupForms__smtpTest_wrapper {
	--bigup_white: #fff;
    --bigup_black: #262626;
    --bigup_orange: #ffb908;
    --bigup_green: #63CFA7;
	--bigup_red: #fd6a42;
	--bigup_blue: #70d3e5;
    --bigup_lightGrey: #eee;
    --bigup_border: solid 1px;
	--bigup_padding: 0.5em 0.75em;
	--bigup_gutter: 0.5em;
    position: relative;

	.bigupForms__submitLabel-notReady { display: none;}
	.bigupForms__submitLabel-ready { display: inline;}

	.bigupForms__smtpTest_button:disabled {
		.bigupForms__submitLabel-notReady { display: inline;}
		.bigupForms__submitLabel-ready { display: none;}
	}

	.bigupForms__alerts {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		flex-flow: column nowrap;
		align-items: center;
		justify-content: center;
		transition: opacity 150ms ease-in-out;
	}
}
